@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');

html {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Courier', sans-serif;
    font-size: 16px;
    color:black; 
    background-color: #FDFEFE; 
}

h1 {
    width: 1000px;
    text-align: center;
}

.container {
    width: 100%;
    text-align: center;
    clear: both;
    padding: 10px;
}

#header1 {
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    height: 50px;
    width: 320px;
}

label {
    display: inline-block;
    width: 160px;
    text-align: left;
}

.submitBooking, select.submitBooking {
    padding: 5px;
    width: 40%;
    clear: both;
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px 0 15px 0;
    max-width: 250px;
}

.bookingSubmit {
    background-color: #F3410B;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;
    color: black;
    width: 300px;
    margin: 0 auto 20px auto;
}

.bookingSubmit:hover{
    background-color:#D35400;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.submitBooking:focus {
    outline: none;
    box-shadow: 2px 2px #F3410B;
}

/*table styling*/
th { 
    text-align: left; 
}

table, th, td {
    border: 5px solid grey;
    border-collapse: collapse;
}

 th, td {
    padding: 0.5em;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }